@model ASP_Net_MVC_Lab1_WebMVCR1.Models.Person

@{
    
    ViewBag.Title = "Ввод данных";
}

<div>
    @using (Html.BeginForm())
    {
        <table align="center" width="400px">
            <tr>
                <td><p>Введите имя:</p></td>
                <td>@Html.TextBox("FirstName")</td>
            </tr>
            <tr>
                <td><p>Введите фамилию:</p></td>
                <td>@Html.TextBoxFor(x => x.LastName)</td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Отправить" />
                </td>
            </tr>
        </table>
    }</html>
